<h1>Editing Article</h1>

<%= form_for(@article) do |f| %>
  <div class="form-group">
    <p><%= f.label :title %></p>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <p><%= f.label :content %></p>
    <%= f.text_field :content, class: "form-control" %>
  </div>
    <div>
      <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<p>
  <%= link_to "Show", article_path %> | <%= link_to "Back", articles_path %>
</p>
